.DS_Store
.history/

.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.tfvars
*.tfvars.json
!.tfvars.example

.env.local

deploy/docker/secrets/*
!deploy/docker/secrets/.gitkeep

code/**/target/
artifacts/providers/*.jar
artifacts/reports/*
!artifacts/reports/.gitkeep
!artifacts/reports/test-report/
!artifacts/reports/test-report/.gitkeep
!artifacts/reports/coverage/
!artifacts/reports/coverage/.gitkeep
!artifacts/reports/dependency-check/
!artifacts/reports/dependency-check/.gitkeep

tmp/*
!tmp/.gitkeep

secrets/dev/*
!secrets/dev/.gitkeep

secrets/stage/*
!secrets/stage/.gitkeep

secrets/prod/*
!secrets/prod/.gitkeep
